/* COLOR CUBE */
$white: rgb(255, 255, 255);
$port-gore: rgb(31, 33, 84);
$silver: rgb(188, 188, 188);
$mountain-meadow: rgb(31, 173, 150);
$texas-rose: rgb(254, 188, 77);
$dove-gray: rgb(108, 108, 108);
$mandy: rgb(226, 90, 109);
$royal-blue: rgb(115, 85, 231);
$thunderbird: rgb(204, 27, 23);
$dodger-blue: rgb(31, 158, 251);

/* MEDIAN CUT*/
$rhino: rgb(41, 50, 89);
$hint-of-red: rgb(254, 254, 254); // BIANCO SFONDO SPORCO
$color-three: rgb(166, 94, 109);
$gray-chateau: rgb(157, 161, 170);
$anzac: rgb(120, 103, 82);

$whitemedium: rgb(
  248,
  248,
  248
); // BIANCO SFONDO + SPORCO - sezione numero 3-5-7 + footer

/* MATERIAL DESIGN */
$blue-marguerite: rgb(106, 90, 208);
$shady-lady: rgb(155, 153, 155);
$jmargrn: rgb(32, 173, 150);
$corduroy: rgb(97, 104, 101);
$ronchi: rgb(239, 176, 86);
